################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADETQ3_ANDREI_ROBEL/bin/Debug/netcoreapp3.1
