@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="info.css">
</head>
<body>
    <header>

        <div class="formbox1">
            <label for="about" class="about">
                
                <b> PERSONAL DATA</b><b></b><br><br><b>Name:</b> Andrei M. Robel
                    <br /><b>Nickname:</b> Drei <br /><b>Gender:</b> Male <br /> <b>Age:</b> 21 years old 
                    <br /><b>Address:</b> Landayan, San Pedro, Laguna <br /><b>Birthday:</b> April 07, 1999 
                    <br /><b>Nationality:</b> Filipino
                   
                
            </label>
        </div>

        <div class="formbox2">
            <label for="about2" class="about2">
                PERSONAL DATA<b></b><br><br><b>Height:</b> 170 cm
                <br /><b>Weight:</b> 163 lbs.<br /><b>Religion:</b> MCGI<br /><b>Mother:</b>Virginia M. Robel<br />
                <b>Occupation:</b> Housewife<br /><b>Father:</b> Andres M. Robel<br /><b>Occupation:</b> Deceased
                <br /><br /><br /><b>HOBBIES & INTERESTS</b><br /> -Playing online games <br />
                -Designing / Editing in Photoshop
            </label>
        </div>


    </header>
</body>
</html>