@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <header>

        <div class="formbox">
            <label for=" subject" class="subject"><b>APPLICATION DEVELOPMENT AND EMERGING TECHNOLOGIES </b></label>
        </div>
        <div class="bg"></div>
        <p>The course will focus on the advancement of web-based software applications and emerging technologies. Focus is focused on requirements management, interface design, usability, implementation, including ethical and legal concerns. Discussions include file handling, front-end creation with create-retrieve-update-delete (CRUD) modules, event-driven programming, and data manipulation.</p>
    </header>
</body>
</html>

